@model DataExtractor.Model.MasterEntity

@{
    ViewBag.Title = "Details";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<dl class="dl-horizontal">
  <dt>ID:</dt>  <dd>@Model.Id</dd>
  <dt>Machine Name:</dt>  <dd>@Model.environment.machineName</dd>
  <dt>Domain Name:</dt>  <dd>@Model.environment.domainName</dd>
  <dt>User:</dt>  <dd>@Model.environment.userName</dd>
  <dt>OS Version:</dt>  <dd>@Model.environment.osVersion</dd>
  <dt>Log Time:</dt>  <dd>@Model.environment.logTime</dd>
@if (Model.environment.hasIis) { 
    <br />
  <dt>IIS Version:</dt>  <dd>@Model.iis.IISVersion</dd>

}
</dl>



@*-------------------- TABS --------------------*@

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#services" >Services</a></li>
    @if(Model.environment.hasIis){
  <li><a data-toggle="tab" href="#iis" >Websites</a></li>
    }
</ul>

@*-------------------- SERVICES --------------------*@
<div class="tab-content">
  <div id="services" class="tab-pane fade in active">
      @Html.Partial("Services")
  </div>


@*-------------------- IIS --------------------*@
    @if(Model.environment.hasIis){
  <div id="iis" class="tab-pane fade">
            @Html.Partial("Iis")
  </div>
    }
</div>
<script src="~/Scripts/Custom/sortTable.js"></script>
<script src="~/Scripts/Custom/ControllerCalls.js"></script>





