@model DataExtractor.Model.MasterEntity

@{
    ViewBag.Title = "Iis";
}
<br />

      <div class ="col-md-12">

          <table class="table table-hover" id="iisTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>State</th>
                                            <th>Parent Pool</th>
                                            @*<th>bindings</th>*@
                                            <th>No. of Application Pools</th>

                                        </tr>
                                    </thead>
                                    <tbody id="fbody">
                                        @for (var j = 0; j < Model.iis.websites.Count; j++ )
                                        { 
                                            <tr data-toggle="modal" data-target="#iisModal" data-content="hello">
                                            <td>@(j+1)</td>
                                            <td>@Model.iis.websites[j].siteName</td>
                                            <td>@Model.iis.websites[j].state</td>
                                            <td>@Model.iis.websites[j].parentPool</td>
                                            @*<td>@Model.iis.websites[j].bindings.Count</td>*@
                                            <td>@Model.iis.websites[j].applicationPools.Count</td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>

      


<div id="iisModal" class="modal fade modal-sm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Description</h4>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<script src="~/Scripts/Custom/sortTable.js"></script>

