@model IEnumerable<DataExtractor.Model.MasterEntity>
@{
    ViewBag.Title = "Index";
}

<h2>Servers:</h2>

<input id="searchInput" value="Type To Filter">
<div class="table-responsive">

                                <table st-table="rowCollection" class="table table-hover" id="sortableTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Machine Name</th>
                                            <th>Domain Name</th>
                                            <th>User</th>
                                            <th>OS Version</th>
                                            <th>Log Time</th>
                                            <th>Has IIS</th>

                                        </tr>
                                    </thead>
                                    <tbody id="fbody">
                                        @foreach (var masterEntity in Model) 
                                        {
                                            <tr class="clickable-row" onclick="window.location='/Entities/Details/@masterEntity.Id'" id="clickable">
                                            <td>@masterEntity.Id</td>
                                            <td>@masterEntity.environment.machineName</td>
                                            <td>@masterEntity.environment.domainName</td>
                                            <td>@masterEntity.environment.userName</td>
                                            <td>@masterEntity.environment.osVersion</td>
                                            <td>@masterEntity.environment.logTime.ToString()</td>
                                            <td>@masterEntity.environment.hasIis</td>
                                                

                                        </tr>  
                                        }
                                       
                                    </tbody>
                                </table>
                            </div>

<script src="~/Scripts/Custom/FilterTable.js"></script>
<script src="~/Scripts/Custom/sortTable.js"></script>
