@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<article>
    <ul>
    <li>See overview of all servers</li>
    <li>See details about each server</li>
    <li>filter as you wish!</li>
</ul>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Pretty smart
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>

</aside>
